.folderFormBorder1 {
    border: 30px solid #49297F;
    border-radius: 15px;
}
.folderFormBorder2 {
    border: 20px solid #07DB96;
    border-radius: 15px;
}
.folderFormBorder3 {
    border: 10px solid #E10186;
    border-radius: 15px;
}